.form-container-signup {
  width: 90%;
  max-width: 500px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.form-container-signup:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.form-title {
  text-align: center;
  color: #3498db;
  margin-bottom: 30px;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2c3e50;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 12px;
  color: #7f8c8d;
}

.form-input {
  padding: 12px 12px 12px 40px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.signin-button:hover {
  background-color: #2980b9;
}

.button-icon {
  margin-right: 10px;
}

.signin-signup-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #7f8c8d;
}

.login-signup-link {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.login-signup-link:hover {
  text-decoration: underline;
}

.form-error {
  color: #e74c3c;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 576px) {
  .form-container-signup {
    margin: 20px;
    padding: 20px;
  }

  .form-title {
    font-size: 20px;
  }

  .form-input,
  .signin-button {
    font-size: 16px;
  }
}